# ----------- temporary files

.DS_Store
.DS_Store?
._*
.Spotlight-V100
.Trashes
ehthumbs.db
Thumbs.db

# ----------- compilation output

bin
build
target
logs
.log
webloc
webloc.exe

# ----------- workspaces

*.sublime-workspace
.idea/workspace.xml
.idea/artifacts
.idea/codeStyleSettings.xml
.idea/libraries
.idea/misc.xml
.idea/uiDesigner.xml
